<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p> <!--applying helper "screamIt" to "welcomeMessage" property (of app.get("/") in server.js-->
    {{> footer}} <!-- injecting a template using ">(space)"-->
  </body>
</html>
