<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>Have a look at {{{linkToGH myGhMsg}}} to see the projects I have been or am working on.</p>
    {{> footer}} <!-- to inject a template (partial), use '>(space)'-->
  </body>
</html>
